@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container fills the viewport height */
}

/* Main content area should take all available space */
.main {
  flex: 1; /* Pushes the footer to the bottom */
  text-align: center;
  padding: 2rem;
}
