.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  margin-bottom: 20px;
  color: #333;
}

.error {
  color: red;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardContent {
  margin-bottom: 10px;
  color: #333;
}

.status {
  color: #333;
  font-weight: bold;
}

.downloadButton {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.downloadButton:hover {
  background-color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationButton {
  padding: 10px;
  margin: 0 5px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  color: #0a0a0a;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paginationButton:hover {
  background-color: #ddd;
}

.paginationButton.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}



/*page css styles*/

.fillContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.quizContainer {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;
}

.sidePanel {
  width: 50%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
